<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{1} - %msg%n"/>
        </Console>

        <File name="FileLogger" fileName="${basePath}/auto_xml.log">
            <PatternLayout pattern="%d [%t] %-5level %logger{1} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>

</Configuration>